@import 'material-icons.css';
* {
    font-family: 'Product Sans', sans-serif;
}
html, body {
    position: relative;
}
.header {
    background-color: var(--back-color-n2-800);
    border-radius: 10px;
    margin: 8px;
    padding: 80px 50px 50px 50px;
    border-bottom: 3px var(--back-color-a2-200) solid;
}
body {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    background-color: var(--back-color-n2-900);
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    border-radius: 10px;
    background: var(--back-color-a2-100);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--back-color-a2-900);
    border-radius: 10px;
    border: 3px solid var(--back-color-a2-100);
}
@media only screen and (max-width: 800px) {
    .yt {
        width: 50%;
        height: 19%;
    }
}
@media only screen and (max-width: 900px) {
    body {
        font-size: 80%
    }
    .yt {
        width: 80%;
        height: 50%;
    }
}
@media only screen and (min-width: 1100px) {
    body {
        font-size: 120%
    }
    .yt {
        width: 680px;
        height: 381px;
    }
}
.navbar {
    animation: nav 5s;
    animation-iteration-count: infinite;
    backdrop-filter: blur(5px);
    background-color: var(--back-blur);
    border-radius: 0px 0px 10px 10px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    position: fixed;
    top: 37px;
    padding: 0;
    font-size: 20px;
    color: var(--back-font-header-top-color);
    border-bottom: 3px var(--back-color-a1-100) solid;
    overflow: auto;
    box-shadow: 0px 10px 15px var(--back-box-shadow);
    transition: all 0.2s;
}
@keyframes nav {
    90% { border-bottom: 3px red solid; box-shadow: 0px 10px 15px rgba(255, 0, 0, 0.325);}
    10% { border-bottom: 3px orange solid; box-shadow: 0px 10px 15px rgba(255, 166, 0, 0.325);}
    20% { border-bottom: 3px yellow solid; box-shadow: 0px 10px 15px rgba(255, 255, 0, 0.325);}
    50% { border-bottom: 3px greenyellow solid; box-shadow: 0px 10px 15px rgba(172, 255, 47, 0.325);}
    40% { border-bottom: 3px lime solid; box-shadow: 0px 10px 15px rgba(0, 255, 0, 0.325);}
    30% { border-bottom: 3px cyan solid; box-shadow: 0px 10px 15px rgba(0, 255, 255, 0.325);}
    0% { border-bottom: 3px lightcyan solid; box-shadow: 0px 10px 15px rgba(173, 216, 230, 0.325);}
    60% { border-bottom: 3px blue solid; box-shadow: 0px 10px 15px rgba(0, 0, 255, 0.325);}
    80% { border-bottom: 3px purple solid; box-shadow: 0px 10px 15px rgba(128, 0, 128, 0.325);}
    70% { border-bottom: 3px violet solid; box-shadow: 0px 10px 15px rgba(238, 130, 238, 0.325);}
    100% { border-bottom: 3px var(--back-color-a1-100) solid; box-shadow: 0px 10px 15px var(--back-box-shadow);}
}
.menu {
    text-align: center;
    display: flex;
    list-style: none;
    align-items: center;
}
.menu li {
    color: var(--back-font-header-top-color);
    transition: all 0.2s
}
.menu li a{
    margin: 10px;
    display: flex;   
    border-radius: 10px;
    background-color: var(--back-color-a1-700);
    color: var(--back-color-a1-50);
    text-decoration: none;
    transition: all 0.2s;
  }
.menu li a.active {
    display: flex;
    border-radius: 10px;
    background-color: var(--back-color-a1-200);
    color: var(--back-color-a1-800);
    top: 0;
    transition: all 0.2s;
}
.menu li a:hover {
    display: flex;
    border-radius: 20px;
    background-color: var(--back-color-a3-200);
    color: var(--back-color-a3-800);
    top: 0;
    transition: all 0.2s;
}
.menu li a:active {
    display: flex;
    border-radius: 20px;
    background-color: var(--back-color-a3-300);
    color: var(--back-color-a3-800);
    top: 0;
    text-shadow: 0 0 5px var(--back-color-a3-600);
    transition: all 0.2s;
}
nav ul {
    list-style-type: none;
}
nav ul li {
    display: flex;
}
nav ul li a {
    display: flex;
    padding: 12px;
}
.popup {
    display: block;
}
.material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40;
    transition: all 0.2s;
}
.material-symbols-rounded:hover {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40;
    transition: all 0.2s;
}
.switch {
    animation: switch 5s;
    animation-iteration-count: infinite;
    border-radius: 50px;
    text-decoration: none;
    color: var(--back-color-a1-800);
    display: flex;
    background-color: var(--back-color-a1-200);
    position: fixed;
    bottom: 16px;
    right: 16px;
    padding: 20px;
    border-bottom: 3px var(--back-color-a1-800) solid;
    font-size: 20px;
    transition: all 0.5s;
}
.switch:hover {
    border-radius: 15px;
    animation: switch 5s;
    animation-iteration-count: infinite;
    border-bottom: 3px var(--back-color-a1-200) solid;
    background-color: var(--back-color-a1-800);
    color: var(--back-color-a1-200);
    transition: all 0.5s;
}
.switch:active {
    border-bottom: 3px var(--back-color-a1-200) solid;
    background-color: var(--back-color-a1-700);
    text-shadow: 0 0 5px var(--back-color-a1-300);
    color: var(--back-color-a1-200);
    transition: all 0.5s;
}
@keyframes switch {
    90% { border-bottom: 3px red solid; box-shadow: 0px 10px 15px rgba(255, 0, 0, 0.325);}
    10% { border-bottom: 3px orange solid; box-shadow: 0px 10px 15px rgba(255, 166, 0, 0.325);}
    20% { border-bottom: 3px yellow solid; box-shadow: 0px 10px 15px rgba(255, 255, 0, 0.325);}
    50% { border-bottom: 3px greenyellow solid; box-shadow: 0px 10px 15px rgba(172, 255, 47, 0.325);}
    40% { border-bottom: 3px lime solid; box-shadow: 0px 10px 15px rgba(0, 255, 0, 0.325);}
    30% { border-bottom: 3px cyan solid; box-shadow: 0px 10px 15px rgba(0, 255, 255, 0.325);}
    0% { border-bottom: 3px lightcyan solid; box-shadow: 0px 10px 15px rgba(173, 216, 230, 0.325);}
    60% { border-bottom: 3px blue solid; box-shadow: 0px 10px 15px rgba(0, 0, 255, 0.325);}
    80% { border-bottom: 3px purple solid; box-shadow: 0px 10px 15px rgba(128, 0, 128, 0.325);}
    70% { border-bottom: 3px violet solid; box-shadow: 0px 10px 15px rgba(238, 130, 238, 0.325);}
    100% { border-bottom: 3px var(--back-color-a1-100) solid; box-shadow: 0px 10px 15px var(--back-box-shadow);}
}
button {
    animation: button 5s;
    animation-iteration-count: infinite;
    align-items: center;
    border-radius: 12px;
    box-shadow: var(--back-box-shadow);
    outline: none;
    cursor: pointer;
    border: none;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: var(--back-color-a1-800);
    background-color: var(--back-color-a1-200);
    transition: all 0.2s;
    border-bottom: 3px var(--back-color-a1-800) solid;
}
button:hover {
    border-radius: 6px;
    animation: button 5s;
    animation-iteration-count: infinite;
    color: var(--back-color-a3-800);
    background-color: var(--back-color-a3-200);
    box-shadow: 0 5px 10px var(--back-hover-button-soft);
    transition: all 0.2s;
    border-bottom: 3px var(--back-color-a3-800) solid;
}
button:active {
    color: var(--back-color-a3-800);
    background-color: var(--back-color-a3-300);
    box-shadow: 0 5px 10px var(--back-hover-button-soft);
    text-shadow: 0 0 5px var(--back-color-a3-600);
    transition: all 0.2s;
    border-bottom: 3px var(--back-color-a3-800) solid;
}
.font {
    color: var(--back-color-a2-100);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 1s;
    text-decoration: none;
}
h1 {
    color: var(--back-color-a1-200);
}
h2 {
    color: var(--back-color-a1-200);
}
footer {
    margin: 8px;
    padding: 10px;
    background-image: linear-gradient(to top, var(--back-color-a1-800), var(--back-color-n2-800));
    border-radius: 10px;
    transition: all 1s;
    border-bottom: 3px var(--back-color-a1-200) solid;
}
.yt {
    margin: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 0px var(--back-color-n2-800);
    transition: all 0.5s;
}
.yt:hover {
    border-radius: 10px;
    box-shadow: 8px 8px 0px var(--back-color-n2-800);
    transition: all 0.5s;
}
.time {
    color: var(--back-color-a3-200);
    transition: all 1s;
}
.link {
    text-decoration: none;
    color: var(--back-color-a3-200);
    transition: all 0.2s;
}
.link:hover {
    text-decoration: underline;
    transition: all 0.2;
}
.header-in-header {
    background-color: var(--back-color-a1-600);
    border-radius: 10px;
    padding: 25px;
    transition: all 1s;
    margin-top: 10px;
    box-shadow: 0 0 10px var(--back-color-a1-200);
    border-bottom: 3px var(--back-color-a1-200) solid;
}
.header-in-home {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), var(--back-color-a1-700)), url('../image/YouTube.png');
    border-radius: 10px;
    padding: 25px;
    margin-top: 10px;
    box-shadow: 0 0 10px var(--back-color-a1-200);
    border-bottom: 3px var(--back-color-a1-200) solid;
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    background-position: center;
    background-size: auto 400%;
    transition: all 0.5s;
}
@keyframes button {
    90% { border-bottom: 3px red solid; box-shadow: 0px 10px 15px rgba(255, 0, 0, 0.325);}
    10% { border-bottom: 3px orange solid; box-shadow: 0px 10px 15px rgba(255, 166, 0, 0.325);}
    20% { border-bottom: 3px yellow solid; box-shadow: 0px 10px 15px rgba(255, 255, 0, 0.325);}
    50% { border-bottom: 3px greenyellow solid; box-shadow: 0px 10px 15px rgba(172, 255, 47, 0.325);}
    40% { border-bottom: 3px lime solid; box-shadow: 0px 10px 15px rgba(0, 255, 0, 0.325);}
    30% { border-bottom: 3px cyan solid; box-shadow: 0px 10px 15px rgba(0, 255, 255, 0.325);}
    0% { border-bottom: 3px lightcyan solid; box-shadow: 0px 10px 15px rgba(173, 216, 230, 0.325);}
    60% { border-bottom: 3px blue solid; box-shadow: 0px 10px 15px rgba(0, 0, 255, 0.325);}
    80% { border-bottom: 3px purple solid; box-shadow: 0px 10px 15px rgba(128, 0, 128, 0.325);}
    70% { border-bottom: 3px violet solid; box-shadow: 0px 10px 15px rgba(238, 130, 238, 0.325);}
    100% { border-bottom: 3px var(--back-color-a1-100) solid; box-shadow: 0px 10px 15px var(--back-box-shadow);}
}
.form-back {
    padding: 10px;
    background-color: var(--back-color-a1-700);
    border-radius: 10px;
}
.friends {
    padding: 8px;
    background-color: var(--back-color-a1-600);
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    color: var(--back-color-a2-100);
    transition: all 0.5s;
    box-shadow: 0 0 10px var(--back-color-a1-200);
    border-bottom: 3px var(--back-color-a1-200) solid;
}
.friends-link {
    width: 88px;
    height: 31px;
    border-radius: 5px;
    border: 3px var(--back-color-a3-200) dotted;
    transition: all 0.5s;
}
.friends-link:hover {
    animation: fr 5s;
    animation-iteration-count: infinite;
    box-shadow: 0 5px 10px var(--back-box-shadow);
    transition: all 0.5s;
}
@keyframes fr {
    90% { border: 3px red dotted; box-shadow: 0px 10px 15px rgba(255, 0, 0, 0.325);}
    10% { border: 3px orange dotted; box-shadow: 0px 10px 15px rgba(255, 166, 0, 0.325);}
    20% { border: 3px yellow dotted; box-shadow: 0px 10px 15px rgba(255, 255, 0, 0.325);}
    50% { border: 3px greenyellow dotted; box-shadow: 0px 10px 15px rgba(172, 255, 47, 0.325);}
    40% { border: 3px lime dotted; box-shadow: 0px 10px 15px rgba(0, 255, 0, 0.325);}
    30% { border: 3px cyan dotted; box-shadow: 0px 10px 15px rgba(0, 255, 255, 0.325);}
    0% { border: 3px lightcyan dotted; box-shadow: 0px 10px 15px rgba(173, 216, 230, 0.325);}
    60% { border: 3px blue dotted; box-shadow: 0px 10px 15px rgba(0, 0, 255, 0.325);}
    80% { border: 3px purple dotted; box-shadow: 0px 10px 15px rgba(128, 0, 128, 0.325);}
    70% { border: 3px violet dotted; box-shadow: 0px 10px 15px rgba(238, 130, 238, 0.325);}
    100% { border: 3px var(--back-color-a1-100) dotted; box-shadow: 0px 10px 15px var(--back-box-shadow);}
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, -2px) rotate(-1deg); }
    100% { transform: translate(1px, 2px) rotate(0deg); }
}
textarea {
    resize: none;
    background-color: var(--back-color-all-0);
    color: var(--back-color-all-1);
    border-radius: 5px;
    border-bottom: 3px var(--back-color-all-1) solid;
    width: 50%;
}
.about1 {
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), var(--back-color-a1-700)), url('../image/baner_yt.png');
    background-position: center;
    background-size: auto 200%;
    margin: 0px -8px 0px -8px;
    box-shadow: 5px 5px 0px var(--back-color-n2-800);
    transition: all 0.5s;
}
.about1:hover {
    background-size: auto 210%;
    box-shadow: 8px 8px 0px var(--back-color-n2-800);
    transition: all 0.5s;
}
.about2 {
    color: var(--back-color-a3-50);
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--back-color-a3-700)), url('../image/pc.png');
    background-position: center;
    background-size: auto 200%;
    margin: 0px -8px 0px -8px;
    box-shadow: 5px 5px 0px var(--back-color-n2-800);
    transition: all 0.5s;
}
.about2:hover {
    background-size: auto 210%;
    box-shadow: 8px 8px 0px var(--back-color-n2-800);
    transition: all 0.5s;
}
.about3 {
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), var(--back-color-a1-700)), url('../image/soft.png');
    background-position: center;
    background-size: auto 200%;
    margin: 0px -8px 0px -8px;
    box-shadow: 5px 5px 0px var(--back-color-n2-800);
    transition: all 0.5s;
}
.about3:hover {
    background-size: auto 210%;
    box-shadow: 8px 8px 0px var(--back-color-n2-800);
    transition: all 0.5s;
}
.about-text {
    text-align: center;
    font-size: 50px;
    text-shadow: 0px 0px 5px var(--back-color-a3-200);
    color: var(--back-color-a3-200);
}
.home-link {
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), var(--back-color-a1-700)), url('../image/soft.png');
    background-position: center;
    background-size: auto 200%;
    margin: 0px -8px 0px -8px;
    box-shadow: 5px 5px 0px var(--back-color-n2-800);
    transition: all 0.5s;
}
.home-link:hover {
    background-size: auto 210%;
    box-shadow: 8px 8px 0px var(--back-color-n2-800);
    transition: all 0.5s;
}
.home-link2 {
    color: var(--back-color-a3-50);
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--back-color-a3-700)), url('../image/custom.png');
    background-position: center;
    background-size: auto 600%;
    margin: 0px -8px 0px -8px;
    box-shadow: 5px 5px 0px var(--back-color-n2-800);
    transition: all 0.5s;
}
.home-link2:hover {
    background-size: auto 610%;
    box-shadow: 8px 8px 0px var(--back-color-n2-800);
    transition: all 0.5s;
}
.home-link3 {
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), var(--back-color-a1-700)), url('../image/baner_yt.png');
    background-position: center;
    background-size: auto 200%;
    margin: 0px -8px 0px -8px;
    box-shadow: 5px 5px 0px var(--back-color-n2-800);
    transition: all 0.5s;
}
.home-link3:hover {
    background-size: auto 210%;
    box-shadow: 8px 8px 0px var(--back-color-n2-800);
    transition: all 0.5s;
}
.home-link4 {
    color: var(--back-color-a3-50);
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--back-color-a3-700)), url('../image/socials.png');
    background-position: center;
    background-size: auto 400%;
    margin: 0px -8px 0px -8px;
    box-shadow: 5px 5px 0px var(--back-color-n2-800);
    transition: all 0.5s;
}
.home-link4:hover {
    background-size: auto 410%;
    box-shadow: 8px 8px 0px var(--back-color-n2-800);
    transition: all 0.5s;
}
.grid {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, minmax(280px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 1em;
}
.grid-about {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 1em;
}
img:hover {
    animation: shake 1s;
    animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, -2px) rotate(-1deg); }
    100% { transform: translate(1px, 2px) rotate(0deg); }
}
.navbar-left {
    display: block;
}
input {
    border-radius: 5px;
    text-align: center;
    width: 820px;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--back-color-all-0);
    color: var(--back-color-all-1);
    height: 20px;
    border-bottom: solid 2px var(--back-color-all-1);
    transition: all 0.2s;
}
input:hover {
    color: var(--back-color-a1-100);
    background-color: var(--back-color-a2-900);
    border-bottom: solid 2px var(--back-color-a1-200);
    transition: all 0.2s;
}
@media (min-width: 768px) {
    nav {
        position: relative;
        top:-10px;
    }
    nav ul {
        max-height: 1px;
        padding: 15px 0;
        text-align: center;
    }
    nav ul li {
        display: inline-flex;
    }
}
@media (max-width: 1000px) {
    input {
        width: calc(100% - 10px);
    }
    .about-text {
        font-size: 24px;
    }
    .grid-about {
        grid-template-columns: repeat(1, minmax(240px, 1fr));
    }
    .grid {
        grid-template-columns: repeat(1, minmax(240px, 1fr));
    }
    textarea {
        margin-bottom: 5px;
        width: calc(100% - 8px);
    }
    button {
        font-size: 90%;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
    }
    .switch {
        padding: 8px;
    }
    .friends-link {
        width: 66px;
        height: 23px;
    }
    body {
        font-size: 85%;
    }
    .header-in-header {
        text-align: left;
    }
    .header {
        text-align: center;
        padding: 0;
    }
    .navbar {
        border-radius: 0px 0px 5px 5px;
        border-bottom: 3px var(--back-color-a1-800) solid;
        left: 0;
        background-color: var(--back-color-a1-200);
        top: 0%;
        margin-right: 0%;
        transform: translate(0%, 0%);
    }
    .navbar:hover {
        border-radius: 0px 0px 10px 10px;
        border-bottom: 3px var(--back-color-a1-200) solid;
        background-color: var(--back-color-a1-800);
    }
    .navbar__wrap .menu {
        display: none;
    }
    .hamb {
        display: flex;
        align-items: center;
    }
    
    .hamb__field {
        padding: 10px 20px;
        cursor: pointer;
    }
    .bar {
        display: block;
        width: 30px;
        height: 3px;
        margin: 5.1px auto;
        background-color: var(--back-color-a1-800);
        transition: 0.2s;
    }
    .popup {
        box-shadow: 0px 20px 15px rgb(0, 0, 0); 
        border-radius: 0px 10px 0px 0px;
        position: fixed;
        opacity: 0;
        top: 52px;
        left: -100%;
        height: 100%;
        backdrop-filter: blur(5px);
        background-color: var(--back-blur);
        z-index: 100;
        display: flex;
        overflow: auto;
        transition: 0.5s;
    }
    .popup li a {
        border-radius: 5px;
        color: var(--back-color-a1-50);
        align-items : center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        top: 0;
        transition: all 0.2s
    }
    .popup .menu::-webkit-scrollbar {
        width: 10px;
    }
      
    .popup .menu::-webkit-scrollbar-track {
        border-radius: 10px;
        background: var(--back-color-a1-200);
    }
      
    .popup .menu::-webkit-scrollbar-thumb {
        background-color: var(--back-color-a1-800);
        border-radius: 10px;
        border: 3px solid var(--back-color-a1-200);
    }
    .popup.open {
        left: 0;
        opacity: 1;
    }
    .popup .menu {
        text-align: center;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 5px;
        overflow: auto;
    }
    .popup .menu li {
        text-align: center;
        width: 100%;
    }
    .popup .menu li a {
        text-align: center;
        border-radius: 5px;
        display: flex;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 5px;
        font-size: 20px;
    }
    .popup .menu li a:hover {
        text-align: center;
        border-radius: 10px;
        background-color: var(--back-color-a3-200);
        color: var(--back-color-a3-800);
        top: 0;
        transition: all 0.2s
    }
    .popup .menu li a.active {
        display: flex;
        border-radius: 10px;
        background-color: var(--back-color-a1-200);
        color: var(--back-color-a1-800);
        top: 0;
        transition: all 0.2s;
    }
    .hamb__field.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamb__field.active .bar:nth-child(1) {
        background-color: var(--back-color-a1-800);
        transform: translateY(8px) rotate(135deg);
    }
    .hamb__field.active .bar:nth-child(3) {
        background-color: var(--back-color-a1-800);
        transform: translateY(-8px) rotate(-135deg);
    }
    .hamb__field:hover .bar:nth-child(2) {
        background-color: var(--back-color-a1-200);
    }
    .hamb__field:hover .bar:nth-child(1) {
        background-color: var(--back-color-a1-200);
    }
    .hamb__field:hover .bar:nth-child(3) {
        background-color: var(--back-color-a1-200);
    }
    body.noscroll {
        overflow: hidden;
    }
}